.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.navbar {
    background-color: black;
    color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainLeft {
    width: 100%;
    /* background-image: linear-gradient(to right bottom, #f5f7fa 0%, #c3cfe2 60%); */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    align-self: center;
    padding-bottom: 3rem;
}

.mainTitle {
    font-size: x-large;
    font-weight: bolder;
    margin-top: 2rem;
    color: white;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}